<div class="container-fluid bg-header">
  <h1>Discover your new favourite podcast, or create your own.</h1>

  <%= button_to "Explore", podcasts_path, class: 'btn btn-newbtn', method: :get %>
  <%= button_to "Create Podcast", new_podcast_registration_path, class: 'btn btn-newbtn', method: :get %>
</div>
